.ui-container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .ui-container {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .ui-container {
    padding: 0 3rem;
  }
}
